body {
    margin: 0;
}

a {
    text-decoration: none;
}

.mentionslegale {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li,ol, ul {
	list-style: none;
} 