*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    text-decoration: none;
}


header{
    position: fixed;
    display: flex;
    height: 100px;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    color: white;
    background-color: rgba(0,0,0,0.8);
    padding: 2rem;
}

nav a{
    margin: 0 2rem;
    color: white;
}

main{
    display: flex;
    flex-direction: column;
    width: 100vw;
}


#tagline{
    height: 100vh;
    background-image: url(pictures/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 3.5rem;
    font-weight: bold;
    padding: 2rem;
}

#philosophie{
    padding: 3rem;
    margin: auto;
}

#philosophie h2{
    margin-bottom: 2rem;
    text-align: center;
}

#videogames{
    color: white;
    background-color: rgb(19, 2, 2);
    padding: 2rem;
}

#intro-videogames{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

#consoles{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.console{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.console img{
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

#team{
    margin: 3rem;
}

#intro-team{
    width: 100%;
    margin-bottom: 4rem;
}

#intro-team h2{
    text-align: center;
}

#crews{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

.crew{
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.crew img{
    margin-top: 2rem;
    width: 80%;
    height: auto;
}

#location{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: honeydew;
    background-color: rgb(19, 2, 2);
    padding: 5rem 2rem;
}
hr{
    color: white;
}

footer{
    display: flex;
    color: white;
    background-color: rgb(19, 2, 2);
    padding: 1rem 4rem;
}

footer p{
    margin:0 10px;
}


@media only screen and (max-width:1000px){
    #consoles{
        flex-direction: column;
    }

    .console{
        width: 80%;
    }

    #crews{
        flex-direction: column;
    }

    .crew{
        width: 100%;
    }
}






